.movie-container{
    .movie-heading{
        text-align: center;
    }
    .popular-movies{
        display: flex;
        column-gap: 20px;
        row-gap: 10px;
        flex-wrap: wrap;
        padding: 2rem;
        .movie-card{
            width: calc((100% / 3) - 20px);
            min-width: 250px;
            margin: auto;
            img{
             border-radius: 10px;  
            //  &:hover{
            //     scale: (1.1);
            //     transition: all 0.3s ease-in-out;
            //  } 
            }
            
        }
    }
}